[submodule "nvim/pack/vendor/start/autoclose.nvim"]
	path = nvim/pack/vendor/start/autoclose.nvim
	url = https://github.com/joseph0x45/autoclose.nvim
[submodule "nvim/pack/vendor/start/indent-blankline.nvim"]
	path = nvim/pack/vendor/start/indent-blankline.nvim
	url = https://github.com/joseph0x45/indent-blankline.nvim
[submodule "nvim/pack/vendor/start/telescope.nvim"]
	path = nvim/pack/vendor/start/telescope.nvim
	url = https://github.com/joseph0x45/telescope.nvim
[submodule "nvim/pack/vendor/start/plenary.nvim"]
	path = nvim/pack/vendor/start/plenary.nvim
	url = https://github.com/joseph0x45/plenary.nvim
[submodule "nvim/pack/vendor/start/nvim-treesitter"]
	path = nvim/pack/vendor/start/nvim-treesitter
	url = https://github.com/joseph0x45/nvim-treesitter
